body {background-color: lightblue;}
h6 {color:green; text-align: right;}.details
 {background-color: red;}.uganda
  {background-color: yellow; color: cyan;
width: 50%;display: inline-block; border-style: solid;}.biggerone {background-color: pink;}